/* Begin CSS reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* end CSS reset */

/* begin main styles */

body {
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.25em;
  padding: 1.25em;
  background-color: yellow;
}

main ul {
  list-style: none;
}

footer {
  text-align: center;
  padding: 1rem;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
}

.image-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-block: 0;
}

.stack * + * {
  margin-block-start: 1em;
}

/* end main styles */