/* Begin CSS reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* end CSS reset */

/* begin main styles */

body {
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

footer {
  text-align: center;
  padding: 1rem;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
}

footer a {
  color: yellow;
}

footer a:hover {
  font-weight: bold;
}

.box {
  padding: 1.25em;
  color: black;
  background-color: yellow;
}

.box * {
  color: inherit;
}

.box ul {
  list-style-type: none;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  margin: 1.25em;
}

@supports (width: min(250px, 100%)) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  }
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-block: 0;
}

.stack * + * {
  margin-block-start: 1em;
}

/* end main styles */

/* begin media queries */

@media screen and (max-width: 900px) {
  .header-image-grid {
    flex-direction: column;
  }
}