<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="static/screen.css" as="style" />
    <link rel="preload" href="static/scripts.js" as="script" />
    <title>Metallica Weekend | Home</title>
    <link rel="stylesheet" type="text/css" href="static/screen.css" media="screen" />
    <link rel="icon" type="image/ico" href="static/favicon.ico" />
</head>
<body>
    <header>
        <h1>Metallica Weekend</h1>
        <h2>Welcome to my site devoted to my weekend with Metallica</h2>
    </header>
    <main>
        <section>
            <h3>{{ message }}</h3>
            <article>
                <p>In August 2024, I attended the two Seattle shows of the Metallica M72 tour. These are my photos!</p>
            </article>
        </section>
    </main>
    <footer>
        <p>&copy; <span id="year"></span> Jeffery D. Mitchell</p>
    </footer>
    <script src="static/scripts.js"></script>
</body>
</html>