<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="static/screen.css" as="style" />
    <link rel="preload" href="static/scripts.js" as="script" />
    <title>Metallica Weekend | Home</title>
    <link rel="stylesheet" type="text/css" href="static/screen.css" media="screen" />
    <link rel="icon" type="image/ico" href="static/favicon.ico" />
</head>
<body class="stack">
    <header>
        <h1>Metallica Weekend</h1>
        <h2>M72 World Tour, Seattle, Washington</h2>
        <h3>August 30th and September 1st, 2024
        <section class="image-grid">
            <img src="assets/IMG_5978.jpg" height="320" width="240" alt="wolf metallica poster" />
            <img src="assets/IMG_5983.jpg" height="320" width="240" alt="james front and centre" />
            <img src="assets/IMG_5984.jpg" height="240" width="320" alt="under the green lights" />
            <img src="assets/IMG_6024.jpg" height="240" width="320" alt="nothing else matters" />
            <img src="assets/IMG_6032.jpg" height="240" width="320" alt="fuel" />
        </section>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; <span id="year"></span> Jeffery D. Mitchell</p>
    </footer>
    <script src="static/scripts.js"></script>
</body>
</html>