{% extends "base" %}
{% block content %}
<section>
  <article>
    <h4>Day 1 Setlist</h4>
      <ul>
        {% for song in set_list %}
          <li>{{ song }}</li>
        {% endfor %}
      </ul>
    </article>
  </section>
{% endblock content %}